# Dependencies
node_modules/

# Build
.next/
out/
build/
dist/

# Database
*.db
*.db-journal

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Misc
*.pem
.vercel
package-lock.json
